<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CustomerPage</title>
  <!--- css FIle  -->
  <link rel="stylesheet" type="text/css"  href="/css/styleUI.css">
  <link rel="stylesheet" type="text/css"  href="/css/customerStyle.css">
  <!--- css FIle for login -->
  <link href = "/css/N1.css" rel = "stylesheet" text = "text/css">
  <!-- bootstrap  css --->
  <link rel="stylesheet" href="/css/boot/bootstrap.css">
  <!-- script LOGIN -->
  <script src = "/javascripts/N1.js" language = "javascript"></script>
<!--- ICONS GOOGLE -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<!--- Icons fontAwesome --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!--- JS FIle -->
<script src="/javascripts/uidev.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/js/bootstrap.js"></script>
<script src="/javascripts/customerFile.js"></script>

<!-- <style>

.newUser{
  width: 50%;
}
</style> -->

</head>

<body onload="funzione30()">
  <!--- NAVBAR --->
  <div class="container-fluid" id="conteinerMenu">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000/">RentalSpartani.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-trigger="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="offcanvas-header mt-3">
            <button type="button" class="btn-close float-left"> <i class="fas fa-times"></i></button>
            <h5 class="text-white py-2" style="text-align:left">Menu</h5>
          </div>
          <ul class="navbar-nav">
            <% if(sessionVar.loggedin){ %>
              <li class="nav-item">
                <a class="nav-link"   <%if(sessionVar.accountType=="Admin"){ %> href="/users/<%=sessionVar.username%>" <% }else{%>  href="/users/<%=sessionVar.username%>"  <%}%>  >Profilo
                </a>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/statistiche/">Statistiche</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../contatti"><span class="indicator"><span class="material-icons" id="matIcon">call
                </span>Contatti</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="login"<% if(!sessionVar.loggedin){ %> onclick = "controllo()" <% }else{%>   onclick = "logOut()" <%   } %>   ><span class="indicator" id="indicatorLogin"><i class="fas fa-user-circle"></i> <span class="textLogin">
                  <% if(sessionVar.loggedin){ %>
                    <%=   sessionVar.username; %>
                    <% }else { %>
                      Accedi <% } %>
                    </span></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <!--- Qua finisce  la search -->
        <div class="popup">
          <!--- Pop-up  code -->
          <div class = "contenutoPop">
            <form action="login" method="POST" id="formLogin">
              <div class="rightCross">
                <img src = "/img/Croce.png" alt = "croceRossa" width = "20px" height = "20px" class = "close" onclick = "controllo1()">
              </div>
              <img src = "/img/User.png" alt = "ImmagineUser" id = "imgUser">
              <input type="username" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
              <div id="errorLogin" class="form-text text-muted"></div>
              <div class="alert alert-danger" role="alert" id="errorLogin"  style="display: none; "></div>
              <br>
               <button type="submit" class="btn" id = "btnLogin">LOGIN</button>
              </form>
            </div>
          </div>
          <div class="popup2" id="pop2">
            <!--- Pop-up  code -->
            <div class = "contenutoPop2">
              <form action="logout" method="POST" id="formLogOut">
                <div class="titlePop">Sei sicuro di voler effetuare il log-out? </div>
                <button type="submit" class="btn" id = "btnLogOut">Certo</button>
                <button type="button" class="btn" onclick = "closePopUpNoHome()"> Indietro </button>
              </form>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-2">
          </div>
          <%
          if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
              %>
              <div class="col-lg-8">
                <div class="newUser p-4 mb-3 mx-auto ">
                  <form action="aggiorna_dati" id="form_dati" method="post">
                    <legend> Aggiorna i tuoi dati: </legend>
                    <div id = "nome">
                      <%
                      userData.forEach(function(data){
                        %>
                        <div class = "nomenome pt-2">
                          <input type = "hidden" id = "nome" name="editid" value="<%= data.Username %>">
                        </div>
                        <% }); %>
                        <label for="exampleName" class="form-label">Nome:</label>
                        <div class="input-group m-3 p-1">
                          <input type="text" id="exampleName" name="editnome" class="form-control" placeholder="<%= data.Nome %>" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <label for="examplePassword" class="form-label">Password: </label>
                        <div class="input-group m-3 p-1">
                          <input type="password" id="examplePassword" name="editpwd" class="form-control" placeholder="********" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <label for="exampleCitta" class="form-label">Citta':</label>
                        <div class="input-group m-3 p-1">
                          <input type="text" id="exampleCitta" name="editcittà" class="form-control" placeholder="<%= data.Città %>" aria-label="City" aria-describedby="basic-addon1">
                        </div>
                        <div class="secondBut ms-5" ><button type="submit" form="form_dati" class="btn btn-primary"  >Modifica</button></div>
                      </form>
                    </div>
                  </div>
                  <%
                  i++; })
                } else{ %>
                  <p>Mi dispiace dati non aggiornati</p>
                  <% } %>
                </div>
                <div class="col-lg-2">
                </div>
              </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------------->
            <!-------------------------------------TABELLA PRENOTAZIONI IN CORSO----------------------------------------------->
            <!----------------------------------------------------------------------------------------------------------------->
            <div class="container p-4 mb-3">
              <section id="noleggiattivi">
                <div class="tableHead" >
                  <h2 class="titleTable">NOLEGGI ATTIVI</h2> <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca per nome..."> </div>
                  <div class="table-responsive">
                    <table class="table" id ="tableNoleggiAttivi">
                      <thead>
                        <tr>
                          <th scope="col">NomeGuerriero</th>
                          <th scope="col">Abilità</th>
                          <th scope="col">Stato</th>
                          <th scope="col">Assicurazione</th>
                          <th scope="col">Prezzo</th>
                          <th scope="col">DataInizio</th>
                          <th scope="col">DataFine</th>
                          <th scope="col">Estendi</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <form class="form_estendi" id="form_NA" action="estendi" method="post">
                          <%
                          var i = 0;
                          if(rows1.length!=0){
                          rows1.forEach(function(result1){
                            var dI = String(result1.DataInizio);
                            var dateI = dI.substring(3,15);
                            var dF = String(result1.DataFine);
                            var dateF = dF.substring(3,15);
                            var insu = result1.Insurance;
                            if (insu=1) {
                              insu="Sì";
                            } else {
                              insu="No";
                            }
                            if (result1.dataRestituzione==null) {
                              %>
                              <tr>
                                <td scope="row"><%= result1.NomeGuerriero%>
                                  <input type = "hidden" name="estendiWarrior" value="<%= result1.NomeGuerriero %>">
                                  <input type = "hidden" name="estendid" value="<%= result1.Codice %>">
                                </th>
                                <td><%= result1.Abilità %></td>
                                <td><%= result1.Stato %></td>
                                <td><%= insu %></td>
                                <td><%= result1.Prezzo %></td>
                                <td><%= dateI %></td>
                                <td><%= dateF%></td>
                                <td>
                                  <input type="date" class="classeInputProva" name="input_dataI"></td>
                                  <td>  <button type="submit" form="form_NA" class="btn btn-secondary" value="<%= i %>" name="btnid1">Estendi</button></td>
                                </tr>
                                <%
                              }
                              i++; })
                            } else{ %>
                              <p>Mi dispiace non ci sono al momento noleggi attivi</p>
                              <% } %>
                            </form>
                          </tbody>
                        </table>
                      </div>
                    </section>
                  </div>
                  <!----------------------------------------------------------------------------------------------------------------->
                  <!-------------------------------------TABELLA PRENOTAZIONI FUTURE------------------------------------------------->
                  <!----------------------------------------------------------------------------------------------------------------->
                  <div class="container p-4 mb-3">
                    <section id="noleggifuturi">
                      <div class="tableHead" >
                        <h2 class="titleTable">NOLEGGI FUTURI</h2> <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Cerca per nome..."> </div>
                        <div class="table-responsive">
                          <table class="table" id="tableFuTPre">
                            <thead>
                              <tr>
                                <th scope="col">NomeGuerriero</th>
                                <th class="editAssi" scope="col">Assicurazione</th>
                                <th scope="col">Prezzo</th>
                                <th scope="col">DataInizio</th>
                                <th scope="col">DataFine</th>
                                <th scope="col">Periodo</th>
                                <th scope="col">Modifica</th>
                                <th scope="col">Remove</th>
                              </tr>
                            </thead>
                            <tbody>
                              <form class="form_modifica" id="form_NF" action="modifica" method="post">
                                <%
                                var i=0;
                                if(rows2.length!=0){
                                rows2.forEach(function(result2){
                                  var dI = String(result2.DataInizio);
                                  var dateI = dI.substring(3,15);
                                  var dF = String(result2.DataFine);
                                  var dateF = dF.substring(3,15);
                                  var insu = result2.Insurance;
                                  if (insu=1) {
                                    insu="Sì";
                                  } else {
                                    insu="No";
                                  }
                                  %>
                                  <tr>
                                    <td scope="row">
                                      <%= result2.NomeGuerriero%>
                                      <input type = "hidden" name="modificawarrior" value="<%= result2.NomeGuerriero %>">
                                      <input type = "hidden" name="modificaid" value="<%= result2.Codice %>">
                                    </td>
                                    <td><%= insu %></td>
                                    <td><%= result2.Prezzo %></td>
                                    <td><%= dateI %></td>
                                    <td><%= dateF%></td>
                                    <td>
                                      <input type = "date" name = "dataidI">
                                      <input type = "date" name = "dataidF">
                                    </td>
                                    <td>
                                      <button type="submit" form="form_NF" class="btn btn-secondary" value="<%= i %>" name="btnid2">Modifica</button>
                                    </td>
                                    <td>
                                      <button type="submit" form="form_NF" class="btn btn-secondary" value="<%= i %>" name="btnid3">Elimina</button>
                                    </td>
                                  </tr>
                                  <%
                                  i++; })
                                } else{ %>
                                  <p>Mi dispiace non ci sono noleggi prestabiliti nel futuro</p>
                                  <% } %>
                                </form>
                              </tbody>
                            </table>
                          </div>
                        </section>
                      </div>

                      <!----------------------------------------------------------------------------------------------------------------->
                      <!-------------------------------------TABELLA STORICO PRENOTAZIONI------------------------------------------------>
                      <!----------------------------------------------------------------------------------------------------------------->
                      <div class="container p-4 mb-3">
                        <section id="storiconoleggi">
                        
                         
                        
                          <div class="tableHead" >
                          <h2 class="titleTable">STORICO NOLEGGI</h2> <input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Cerca per nome..."> </div>
                        
                         
                        
                        <div class="table-responsive">
                        <table class="table" id="storicTable">
                          <thead>
                            <tr>
                              <th scope="col">NomeGuerriero</th>
                              <th scope="col">Assicurazione</th>
                              <th scope="col">Prezzo</th>
                              <th scope="col">Fattura</th>
                              <th scope="col">DataInizio</th>
                              <th scope="col">DataFine</th>
                              <th scope="col">DataRestituzione</th>
                              <th scope="col">Pubblica</th>
                        
                         
                        
                         
                        
                            </tr>
                          </thead>
                          <tbody>
                        
                         
                        
                            <form id="form_fattura" action="fattura" method="post">
                            <%
                            if(rows3.length!=0){
                            var i=0;
                            rows3.forEach(function(result3){
                              var dI = String(result3.DataInizio);
                              var dateI = dI.substring(3,15);
                              var dF = String(result3.DataFine);
                              var dateF = dF.substring(3,15);
                              var dR = String(result3.DataRestituzione);
                              var dataR = dR.substring(3,15);
                              var insu = result3.Insurance;
                              if (insu=1) {
                                insu="Sì";
                              } else {
                                insu="No";
                              }
                        
                         
                        
                            %>
                        
                         
                        
                        
                            <tr>
                              <td scope="row">
                                <input type="hidden" name="guerrieroR" value="<%= result3.NomeGuerriero %>">
                                <%= result3.NomeGuerriero%>
                              </td>
                              <td><%= insu %></td>
                              <td><%= result3.Prezzo %></td>
                        
                         
                        
                              <td>
                                  <input type="hidden" name="codice_fattura" value="<%= result3.Codice %>">
                                  <button type="submit" form="form_fattura" class="btn btn-secondary" value="<%= i+1 %>" name="button_fattura">Vedi fattura</button>
                              </td>
                              <td><%= dateI %></td>
                              <td><%= dateF%></td>
                              <td><%= dataR%></td>
                              <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="clearStar(this.value)" value="<%= i %> " name="buttonRec">
                                <i class="fas fa-pen" style="margin-right:3px;"></i>Recensione</button>
                              </td>
                            </tr>
                        
                         
                        
                         
                        
                            <%
                              i++; })
                              } else{ %>
                                     <p>Non ci sono noleggi conclusi</p>
                             <% } %>
                        
                         
                        
              
                             <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Scrivi una recensione</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <input type="text" class="form-control" name="titoloR" placeholder="Titolo recensione" required style="width: 50%; margin:10px;">
                                      <textarea name="inputRecensione" id="" cols="20" rows="5" style="margin-left:5%;" required></textarea>
                                      <div class="starDiv" style="margin-left:5%;  float:right; ">
                                          <input type = "hidden" id = "starR" name="starRating" >
                                          <input type = "hidden" value="" id = "rowValue" name="buttonMR" >
                                          <h5>Inserisci le stelle:  </h5>
                                        <i class = "fa fa-star" id="stars1"  onClick="stars(this.id)"></i>
                                          <i class = "fa fa-star" id="stars2"  onClick="stars(this.id)"></i>
                                            <i class = "fa fa-star" id="stars3"  onClick="stars(this.id)"></i>
                                              <i class = "fa fa-star" id="stars4"  onClick="stars(this.id)"></i>
                                                <i class = "fa fa-star" id="stars5"  onClick="stars(this.id)"></i>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                      <button type="submit" form="form_fattura" class="btn btn-primary" value="<%= i %>">Salva modifiche</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             </form>
                          </tbody>
                      </table>
                      </div>
                      </section>
                    </div>
                              <!-- Button trigger modal -->
                              <!-- Footer -->
                              <footer class=" text-center ">
                                <!-- Grid container -->
                                <div class="container p-4">
                                  <!-- Section: Social media -->
                                  <section class="mb-4">
                                    <!-- Facebook -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                    <!-- Google -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
                                    <!-- Instagram -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                    <!-- Linkedin -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                    <!-- Github -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
                                  </section>
                                  <!-- Section: Social media -->
                                  <!-- Section: Text -->
                                  <section class="mb-4">
                                    <p>L'assicurazione costa il 10% del totale e permette di evitare sanzioni qualora il guerriero sia restituito con dei danni fisici.</p>
                                    <p>Nel caso in cui il guerrero sia liberato con dei giorni di ritardo rispetto alla prenotazione verranno addebitati i costi dei giorni aggiuntivi e un 30% al giorno.</p>
                                  </section>
                                </div>
                                <div class="text-center p-3" style="background-color:#74B3CE" id="lastFooter">
                                  © 2020 Copyright:
                                  <a class="text-dark" href="http://localhost:3000/">RentalSpartani.com</a>
                                </div>
                              </footer>
                            </body>
                            <script type="text/javascript">
                            c1();
                            c2();
                          </script>
                          </html>
