<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide guerrieri orizzontali</title>
    <!-- Presi da internet -->
    <link href = "/stylesheets/lightslider.css" rel = "stylesheet" type = "text/css">
    <script src = "/javascripts/Jquery.js" language = "javascript"></script>
    <script src = "/javascripts/lightslider.js" language = "javascript"></script>
    <!-- css main -->
    <link href = "/stylesheets/style1.css" rel = "stylesheet" type = "text/css">
    <!-- css FIle -->
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link href = "/css/N1.css" rel = "stylesheet" text = "text/css">

    <!-- bootstrap  css --->
    <link rel="stylesheet" href="/css/boot/bootstrap.css">
    <!-- script LOGIN -->
    <script src = "/javascripts/N1.js" language = "javascript"></script>
    <!--- ICONS GOOGLE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--- Icons fontAwesome --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- footer -->
    <link rel="stylesheet" type="text/css"  href="/css/footer.css">
    <script src="/javascripts/uidev.js"></script>
    <script src="/javascripts/indice.js"></script>
    
  </head>
  <body onload = "controlloZ()">
    <div class="container-fluid" id="conteinerMenu">
      <nav class="navbar navbar-expand-lg navbar-light transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:3000/">RentalSpartani.com</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-trigger="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="offcanvas-header mt-3">
              <button type="button" class="btn-close float-left"> <i class="fas fa-times"></i></button>
              <h5 class="text-white py-2" style="text-align:left">Menu</h5>
            </div>
            <ul class="navbar-nav">
              <% if(sessionVar.loggedin){ %>
                <li class="nav-item">
                  <a class="nav-link"   <% if(sessionVar.accountType=="Admin"){ %> href="/users/<%=sessionVar.username%>" <% }else{%>  href="/users/<%=sessionVar.username%>"  <%}%>  >Profilo</a>
                </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/statistiche/">Statistiche</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contatti"><span class="indicator"><span class="material-icons" id="matIcon">call
                  </span>Contatti</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="login"<% if(!sessionVar.loggedin){ %> onclick = "controllo()" <% }else{%>   onclick = "logOut()" <%   } %>   ><span class="indicator" id="indicatorLogin"><i class="fas fa-user-circle"></i> <span class="textLogin">
                    <% if(sessionVar.loggedin){ %>
                      <%=   sessionVar.username; %>
                      <% }else { %>
                        Accedi <% } %>
                      </span></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- ######################################################################################################################## -->
            <!-- <form action = "submit-form" method="post" id="form1"> -->
              <form action = "submit-form" method = "post" id = "form10">
                <section class="search-bar">
                  <div class="container searchConteiner" id ="searchConteiner" >
                    <div class="row">
                      <div class="col-lg-8 mx-auto shadow" id="barSearch">
                        <div class=" d-flex p-1" >
                          <div class="p-2 flex-fill contEl" ><h4><strong>Completa il form per trovare il tuo guerriero! </strong></h4></div>
                        </div>
                        <div class=" d-flex p-1"  id="secondFlexBox" >
                          <div class="ps-3 flex-fill">
                            <label>Scegli le abilita':</label>
                            <div class="form-check pt-1">
                              <input type = "radio" name = "optradio" value = "Grosso" id = "radio1" class="form-check-input">
                              <label class="form-check-label" for="radio1" id = "l1" name = "la1">Grosso</label>
                            </div>
                            <div class="form-check pt-1">
                              <input type = "radio" name = "optradio" value = "Distanza" class="form-check-input" id="radio2">
                              <label class="form-check-label" for="radio2" id = "l2" name = "la2">Distanza</label>
                            </div>
                            <div class="form-check pt-1">
                              <input type = "radio" name = "optradio" value = "Lancia" class="form-check-input" id="radio3">
                              <label class="form-check-label" for="radio3" id = "l3" name = "la3">Lancia</label>
                            </div>
                            <div class="form-check pt-1">
                              <input type = "radio" name = "optradio" value = "Corpo a corpo" class="form-check-input" id="radio4">
                              <label class="form-check-label" for="radio4" id = "l4" name = "la4">Corpo a corpo</label>
                            </div>
                          </div>
                          <div class="wrapper flex-fill">
                            <div id="firstCal" class="d-flex justify-content-center pt-4">
                              <div class="daterange">
                                <i class="far fa-calendar-alt"></i><input type="text" name = "daterange" id = "rangeID"/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" d-flex p-2 flex-row-reverse">
                          <div class="p-2 me-3">
                            <button type = "submit" class = "btn p-2" id = "findBut" value = "form10">
                              <i class="fas fa-search"></i>TROVA
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </form>
              <!-- ######################################################################################################################## -->
              <div class="popup">
                <!--- Pop-up  code -->
                <div class = "contenutoPop">
                  <form action="login" method="POST" id="formLogin">
                    <div class="rightCross">
                      <img src = "/img/Croce.png" alt = "croceRossa" width = "20px" height = "20px" class = "close" onclick = "controllo1()">
                    </div>
                    <img src = "/img/User.png" alt = "ImmagineUser" id = "imgUser">
                    <input type="username" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
                    <div id="errorLogin" class="form-text text-muted"></div>
                    <div class="alert alert-danger" role="alert" id="errorLogin"  style="display: none; "></div>
                    <br>
                    <button type="submit" class="btn " id = "btnLogin">LOGIN</button>
                  </form>
                  <a href="/register/register" class="links"><small>Non hai un account? Registrati</small> </a>
                </div>
              </div>
              <div class="popup2" id="pop2">
                <!--- Pop-up  code -->
                <div class = "contenutoPop2">
                  <form action="logout" method="POST" id="formLogOut">
                    <div class="titlePop">Sei sicuro di voler effetuare il log-out? </div>
                    <button type="submit" class="btn" id = "btnLogOut">Certo</button>
                    <button type="button" class="btn" onclick = "closePopUp()"> Indietro </button>
                  </form>
                </div>
              </div>
            </div>
            <div id="parResult" > </div>
            <div id="noResult"></div>
            <section class = "sezione" id =" section">
              <ul id = "autoWidth" class = "cs-hidden">
                <%
                if(userData.length!=0){
                  var i=1;
                  userData.forEach(function(data){
                    %>
                    <li class="item-a">
                      <div class = "boxDiv">
                        <div class = "slide-img">
                          <img src = "/images/spartan.jpg" alt = "guerriero">
                          <!-- overlayer -->
                          <div class = "overlay">
                            <!-- buy-btn -->
                            <a href = "http://localhost:3000/product/<%= data.Nome %>" class = "buy-btn">Compra</a>
                          </div>
                        </div>
                        <div class = "detail-box">
                          <div class = "type">
                            <a href = "#"><%= data.Nome%></a>
                            <span><%= data.Abilità %></span>
                          </div>
                          <a href = "#" class = "price"><%= data.Prezzo %> €</a>
                        </div>
                      </div>
                    </li>
                    <%  i++; }) %>
                    <% } else{ %>
                    <script>
                    document.getElementById('noResult').innerHTML = "Nessun guerriero trovato!"
                    </script>
                    <% } %>
                    <!-- nuovo elemento -->
                  </section>
                  <!-- Footer -->
                  <footer class=" text-center ">
                    <!-- Grid container -->
                    <div class="container p-4" id="footerDiv">
                      <!-- Section: Social media -->
                      <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
                      </section>
                      <!-- Section: Social media -->
                      <!-- Section: Text -->
                      <section class="mb-4">
                        <p>L'assicurazione costa il 10% del totale e permette di evitare sanzioni qualora il guerriero sia restituito con dei danni fisici.</p>
                        <p>Nel caso in cui il guerrero sia liberato con dei giorni di ritardo rispetto alla prenotazione verranno addebitati i costi dei giorni aggiuntivi e un 30% al giorno.</p>
                      </section>
                      <!-- Section: Text -->
                    </div>
                    <!-- Grid container -->
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color:#74B3CE" id="lastFooter">
                      © 2020 Copyright:
                      <a class="text-dark" href="http://localhost:3000/">RentalSpartani.com</a>
                    </div>
                    <!-- Copyright -->
                  </footer>
                  <!-- Footer -->
                </body>
                
    <script>
    $(document).ready(function() {
      $('#autoWidth').lightSlider({
        autoWidth:true,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth').removeClass('cS-hidden');
        }
    });
  });
  $('#rangeID').daterangepicker({
    "locale": {
      "format": "DD/MM/YYYY",
      "separator": "-",
      "applyLabel": "Apply",
      "cancelLabel": "Cancel",
      "fromLabel": "From",
      "toLabel": "To",
      "customRangeLabel": "Custom",
      "weekLabel": "W",
      "daysOfWeek": [
        "Su",
        "Mo",
        "Tu",
        "We",
        "Th",
        "Fr",
        "Sa"
      ],
      "monthNames": [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
    },
  });
  function controlloZ(){
    var url = "http://localhost:3000/submit-form";
    if(window.location.href === url){
      var title = document.createElement('h1');
      title.id = "TitoloRicerca"
      title.textContent = "Search result";
      document.getElementById('parResult').innerHTML = "Search Result:";
    }
  }
  var dt = new Date();
  var giorno = dt.getDate();
  var mese = dt.getMonth() + 1;
  var anno = dt.getFullYear();
  var oggi = 0;
  if(giorno < 10){
    giorno = "0" + giorno;
  }
  if(mese < 10){
    mese = "0" + mese;
  }
  var oggi = anno + "-" + mese + "-" + giorno;

  function controlloData(){
    var cal = document.getElementById('rangeID');
    cal.onchange = function(){
      var x = String(cal.value);
      var dataIniziale = x.substring(0,10);
      var giorno = dataIniziale.substring(0,2);
      var mese = dataIniziale.substring(3,5);
      var anno = dataIniziale.substring(6,10);
      var dataInizio = anno + "-" + mese + "-" + giorno;
      var btn = document.getElementById('findBut');
      if(dataInizio < oggi){
        btn.disabled = true;
        alert("La data che hai inserito è prima della data odierna");
      } else {
        btn.disabled = false;
      }
    }
  }
  
  controlloData();

</script>
</html>
