<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titolo</title>
    <link rel="stylesheet" type="text/css"  href="/css/styleUI.css">
    <link rel="stylesheet" type="text/css"  href="/css/N1.css">
    <link rel="stylesheet" type="text/css"  href="/css/stats.css">
    <!-- bootstrap  css --->
    <link rel="stylesheet" href="/css/boot/bootstrap.css">
    <!-- script LOGIN -->
    <script src = "/javascripts/N1.js" language = "javascript"></script>
    <!--- ICONS GOOGLE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!--- Icons fontAwesome --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <!--- JS FIle -->
    <script src="/javascripts/uidev.js"></script>
  </head>

<body>
  <div class="container-fluid" id="conteinerMenu">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000/">RentalSpartani.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-trigger="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="offcanvas-header mt-3">
            <button type="button" class="btn-close float-left"> <i class="fas fa-times"></i></button>
            <h5 class="text-white py-2" style="text-align:left">Menu</h5>
          </div>
          <ul class="navbar-nav">
            <% if(sessionVar.loggedin){ %>
              <li class="nav-item">
                <a class="nav-link"   <%if(sessionVar.accountType=="Admin"){ %> href="/users/<%=sessionVar.username%>" <% }else{%>  href="/users/<%=sessionVar.username%>"  <%}%>  >Profilo
                </a>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link" href="#">Statistiche</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../contatti"><span class="indicator"><span class="material-icons" id="matIcon">call
                </span>Contatti</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="login"<% if(!sessionVar.loggedin){ %> onclick = "controllo()" <% }else{%>   onclick = "logOutAdmin()" <%   } %>   ><span class="indicator" id="indicatorLogin"><i class="fas fa-user-circle"></i> <span class="textLogin">
                  <% if(sessionVar.loggedin){ %>
                    <%=   sessionVar.username; %>
                    <% }else { %>
                      Accedi <% } %>
                    </span></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="popup">
          <!--- Pop-up code -->
          <div class = "contenutoPop">
            <form action="login" method="POST" id="formLogin">
              <div class="rightCross">
                <img src = "/img/Croce.png" alt = "croceRossa" width = "20px" height = "20px" class = "close" onclick = "chiusuraLoginNoHome()">
              </div>
              <img src = "/img/User.png" alt = "ImmagineUser" id = "imgUser">
              <input type="username" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
              <div id="errorLogin" class="form-text text-muted"></div>
              <div class="alert alert-danger" role="alert" id="errorLogin" style="display: none; "></div>
              <br>
              <button type="submit" class="btn" id = "btnLogin">LOGIN</button>
              <a href="../register/register"><small>Registrati</small> </a>
            </form>
          </div>
        </div>
        <div class="popup2" id="pop2">
          <!--- Pop-up code -->
          <div class = "contenutoPop2">
            <form action="logout" method="POST" id="formLogOut">
              <div class="titlePop">Sei sicuro di voler effetuare il log-out? </div>
              <button type="submit" class="btn" id = "btnLogOut">Certo</button>
              <button type="button" class="btn" onclick = "closePopUpNoHome()"> Indietro </button>
            </form>
          </div>
        </div>
        <div class="container p-4 ">
          <h1 id = "titolo">STATISTICHE</h1>
          <div class = "contenitoreTabella mx-auto  table-responsive">
            <table id = "tabella" class="mx-auto">
              <!-- potrebbe starci un caption -->
              <tr>
                <th>STATISTICHE GENERALI</th>
                <th>RISULTATO</th>
              </tr>
              <tr>
                <td>Il numero totali di guerrieri che sono pronti a combattere è pari a </td>
                <td class = "numeri"><%= elemento %></td>
              </tr>
              <tr>
                <td>Guerrieri con abilita Grosso </td>
                <td class = "numeri"><%= elemento2 %></td>
              </tr>
              <tr>
                <td>Guerrieri con abilità corpo a corpo</td>
                <td class = "numeri"><%= elemento1 %></td>
              </tr>
              <tr>
                <td>Guerrieri con abilità Distanza</td>
                <td class = "numeri"><%= elemento4 %></td>
              </tr>
              <tr>
                <td>Guerrieri con abilità lancia</td>
                <td class = "numeri"><%= elemento5 %></td>
              </tr>
              <tr>
                <td>Altezza media per tutti i guerrieri che hanno abilità grosso</td>
                <td class = "numeri"><%= elemento6 %></td>
              </tr>
              <tr>
                <td>Altezza media per tutti i guerrieri che hanno abilità lancia</td>
                <td class = "numeri"><%= elemento7 %></td>
              </tr>
              <tr>
                <td>Altezza media per tutti i guerrieri che hanno abilità Distanza</td>
                <td class = "numeri"><%= elemento8 %></td>
              </tr>
              <tr>
                <td>Altezza media per tutti i guerrieri che hanno abilità corpo a corpo</td>
                <td class = "numeri"><%= elemento9 %></td>
              </tr>
            </table>
          </div>
          <div class="stat2 my-4 table-responsive">
            <table class="mx-auto">
              <tr>
                <th>STATISTICHE SPECIFICHE</th>
                <th>GUERRIERO</th>
              </tr>
              <tr>
                <td>I 3 guerrieri che hanno fatto più battaglie</td>
                <td class = "numeri">
                  <% if(elemento3.length != 0){ %>
                    <% elemento3.forEach(function(data4){ %>
                      <a href = "http://localhost:3000/product/<%= data4.Nome %>">-<%= data4.Nome %><br></a>
                      <% }) %>
                      <% } %>
                      <% if(elemento3.length == 0){%>
                        <p style = "font-family: 'Courier New', Courier, monospace; font-size: 30px; text-align: center;">
                          Errore non si è trovato nessun guerriero che rispetti le caratteristiche desiderate
                        </p>
                        <% } %>
                      </td>
                    </tr>
                    <tr>
                      <td>Nome guerriero che è stato più prenotato</td>
                      <td class = "numeri">
                        <a href = "http://localhost:3000/product/<%= elemento10 %>">-<%= elemento10 %><br></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Abilità guerriero che è stato più prenotato</td>
                      <td class = "numeri"><%= elemento11 %></td>
                    </tr>
                    <tr>
                      <td>Numero battaglie guerriero che è stato più prenotato</td>
                      <td class = "numeri"><%= elemento12 %></td>
                    </tr>
                    <tr>
                      <td>Nome guerriero che è stato più anziano presente nel nostro esercito</td>
                      <td class = "numeri">
                        <a href = "http://localhost:3000/product/<%= elemento13 %>">-<%= elemento13 %><br></a>
                      </td>
                    </tr>
                    <tr>
                        <td>Abilità del guerriero più anziano presente nel nostro esercito</td>
                        <td class = "numeri"><%= elemento14 %></td>
                    </tr>
                    <tr>
                        <td>Numero battaglie del guerriero più anziano presente nel nostro esercito</td>
                        <td class = "numeri"><%= elemento15 %></td>
                    </tr>
                    <tr>
                      <td>Nome guerriero che ha ricevuto il voto più alto in media recensione</td>
                      <td class = "numeri">
                        <a href = "http://localhost:3000/product/<%= elemento16 %>">-<%= elemento16 %><br></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Abilità del guerriero che ha ricevuto il voto più alto in media recensione</td>
                      <td class = "numeri"><%= elemento17 %></td>
                    </tr>
                    <tr>
                      <td>Numero battaglie del guerriero che ha ricevuto il voto più alto in media recensione</td>
                      <td class = "numeri"><%= elemento18 %></td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Footer -->
              <footer class=" text-center ">
                <!-- Grid container -->
                <div class="container p-4" id="footerDiv">
                  <!-- Section: Social media -->
                  <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
                  </section>
                  <section class="mb-4">
                    <p>L'assicurazione costa il 10% del totale e permette di evitare sanzioni qualora il guerriero sia restituito con dei danni fisici.</p>
                    <p>Nel caso in cui il guerrero sia liberato con dei giorni di ritardo rispetto alla prenotazione verranno addebitati i costi dei giorni aggiuntivi e un 30% al giorno.</p>
                  </section>
                  <!-- Section: Text -->
                </div>
                <!-- Grid container -->
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color:#74B3CE" id="lastFooter">
                  © 2020 Copyright:
                  <a class="text-dark" href="http://localhost:3000/">RentalSpartani.com</a>
                </div>
                <!-- Copyright -->
              </footer>
            </body>
            </html>
